<!-- main app container -->
<div class="card m-3">
  <h3 class="card-header">Practica Angular Formulario Reactivo Validacion</h3>
  <h5 class="card-header">Est. Luis Mauricio Limachi Huanca</h5>
  <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-row">
              <div class="form-group col">
                  <label>Titulo: </label>
                  <select formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                      <option value=""></option>
                      <option value="Señor">Señor</option>
                      <option value="Señora">Señora</option>
                      <option value="Señorita">Señorita</option>
                      <option value="Joven">Joven</option>
                  </select>
                  <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                      <div *ngIf="f.title.errors.required">Titulo es requerido...</div>
                  </div>
              </div>
              <div class="form-group col-5">
                  <label>Nombres:</label>
                  <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                  <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                      <div *ngIf="f.firstName.errors.required">Nombres son requeridos...</div>
                  </div>
              </div>
              <div class="form-group col-5">
                  <label>Apellidos: </label>
                  <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                  <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                      <div *ngIf="f.lastName.errors.required">Apellido es requerido...</div>
                  </div>
              </div>
          </div>
          <div class="form-group">
              <label>Correo</label>
              <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Correo es requerido...</div>
                  <div *ngIf="f.email.errors.email">El correo debe ser una direccion de correo electronico valida...</div>
              </div>
          </div>
          <div class="form-row">
              <div class="form-group col">
                  <label>Contraseña: </label>
                  <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">La contraseña es requerida...</div>
                      <div *ngIf="f.password.errors.minlength">La contraseña debe de tener al menos 6 caracteres...</div>
                  </div>
              </div>
              <div class="form-group col">
                  <label>Confirmar Contraseña: </label>
                  <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                  <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                      <div *ngIf="f.confirmPassword.errors.required">Contraseña es requerida...</div>
                      <div *ngIf="f.confirmPassword.errors.mustMatch">Las contraseñas debe coincidir...</div>
                  </div>
              </div>
          </div>
          <div class="form-group form-check">
              <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
              <label for="acceptTerms" class="form-check-label">Acepta los terminos y condiciones.</label>
              <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Se requiere aceptar Terminos y Condiciones...</div>
          </div>
          <div class="text-center">
              <button class="btn btn-primary mr-1">Registrar</button>
              <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancelar</button>
          </div>
      </form>
  </div>
</div>